@import "tailwindcss";

@theme {
  --color-PRIMARY: oklch(0.2198 0.0097 280.95);
  --color-SECONDARY: oklch(0.9237 0.1959 130.23);
  --color-LIGHT-GRAY: oklch(0.9 0 0);
  --color-LIGHTER-GRAY: oklch(0.95 0 0);
}
